
<button (click)="getProducts()" class="btn btn-primary">Fetch Data From API</button>
&nbsp;
<button (click)="delProducts()" class="btn btn-danger" >Clear Table Data</button>
<br>
<table class="table">
    <thead>
        <tr>
            <th>user ID</th>
            <th>ID</th>
            <th>title</th>
            <th>flag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.userId}}</td>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.completed}}</td>
        </tr>
    </tbody>
</table>