<table class="table">
  <thead>
    <tr>
      <th>{{name}}</th>
      <th>{{class}}</th>
      <th>{{phno}}</th>
      <th>{{marks}}</th>
      <th>{{action}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>
        <span *ngIf="!student.editable">{{ student.name }}</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.name"
          *ngIf="student.editable"
        />
      </td>
      <td>
        <span *ngIf="!student.editable">{{ student.class }}</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.class"
          *ngIf="student.editable"
        />
      </td>
      <td>
        <span *ngIf="!student.editable">{{ student.phNo }}</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.phNo"
          *ngIf="student.editable"
        />
      </td>
      <td>
        <span *ngIf="!student.editable">{{ student.marks }}</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.marks"
          *ngIf="student.editable"
        />
      </td>
      <td>
        <button (click)="editRow($event, i)" class="btn btn-outline-success">
          <i
            *ngIf="!student.editable"
            class="fa fa-pencil"
            aria-hidden="true"
          ></i>
          <span *ngIf="student.editable"> Save </span>
        </button>
        <button
          *ngIf="!student.editable"
          (click)="deleteRow($event, i)"
          class="btn btn-outline-danger"
        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
