


<br>
<label for="firstName">First Name:</label>
<input type="text" id="firstName" [(ngModel)]="tempEmp.firstName" >
<br>

<label for="lastName">Last Name:</label>
<input type="text" id="lastName" [(ngModel)]="tempEmp.lastName">
<br>
<label for="age">Age:</label>
<input type="number" id="age" [(ngModel)]="tempEmp.age">
<br>
<label for="id">id:</label>
<input type="text" id="id" [(ngModel)]="tempEmp.id">
<br>
<label for="job">job:</label>
<input type="text" id="job" [(ngModel)]="tempEmp.jobTitle">
<br>
<label for="salary">salary:</label>
<input type="number" id="salary" [(ngModel)]="tempEmp.salary">
<br><br>
<button class="btn btn-primary" (click) = "updateEmp()" >Add</button>

<table class="table">
    <thead>
        <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Id</th>
        <th>Job</th>
        <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.jobTitle }}</td>
            <td>{{ employee.salary }}</td>
        </tr>
    </tbody>

</table>