<div class="small-margin">
<form (ngSubmit)="getData(detailsForm)" #detailsForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <br />
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="dataModel.name" #name="ngModel"/>
      </div>
      <br />
      <div class="form-group">
        <label for="email">Email</label>
        <br />
        <input class="form-control mr-1" type="email" id="email" name="email" [(ngModel)]="dataModel.email" #email="ngModel" />
      </div>
      <br />
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <br />
        <input
          class="form-control"
          type="number"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="dataModel.phoneNumber" #phoneNumber="ngModel"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password">Password</label>
        <br />
        <input class="form-control mr-1" type="password" id="password" name="password" [(ngModel)]="dataModel.password" #password="ngModel" />
      </div>
      <br />
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <br />
        <input
          class="form-control"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="dataModel.confirmPassword" #confirmPassword="ngModel"
        />
      </div>
      <br />
      
        <button type="submit" class="btn btn-primary">Submit</button>
     
</form>
</div>

<div *ngIf="showDetails">
  <h3>The details are as follows:</h3>
  <br>
  <ul>
    <li><strong>Name: </strong> {{dataModel.name}}</li>
    <li><strong>Email: </strong> {{dataModel.email}}</li>
    <li><strong>Phone Number: </strong> {{dataModel.phoneNumber}}</li>
    <li><strong>Password: </strong> {{dataModel.password}}</li>
    <li><strong>Confirm Password: </strong> {{dataModel.confirmPassword}}</li>
  </ul>
</div>
